extends layout
include mixins/_orders
block content
  
  h2= title
  hr

  if user
    h3= `Hi, ${user.first_name}!`
    
    if orders.length > 0
      h3 Your bookings:
      each order in orders
        .bookings
          ul
            li=`Order ref: ${order._id}`
            each data in order.hotel_data
              li=`Hotel: ${data.hotel_name}`
              li=`Country: ${data.country}`
              li=`Departure: ${order.order_details.dataOfDeparture}`
              li=`Hotel: ${order.order_details.duration}`
              li=`Hotel: ${order.order_details.numberOfGuest}`

        //- +orders(order)
    else
      h3 No orders to show, yet...
  
  else
    h3 Please login to view this section